@font-face {
	font-family:'Haas Grot Text Web';
	src:url('fonts/nhg/NeueHaasGrotText-55Roman-Web.woff2') format('woff2'),
		url('fonts/nhg/NeueHaasGrotText-55Roman-Web.woff') format('woff');
	font-weight:400;
	font-style:normal;
	font-stretch:normal;
}