@import 'reset';
@import 'fonts';

// Fonts
$default:'Haas Grot Text Web',helvetica,sans-serif;

// Colors
$black:rgba(10,10,10,1);
$lightBlack:rgba(40,40,40,1);
$white:#fff;
$yellow:#FDD663;
$green:#34A853;
$red:#ED2935;
$blue:#7AA8F5;
$lightGrey:rgba(235,235,235,1);
$midGrey:rgba(180,180,180,1);
$darkGrey:rgba(100,100,100,1);
$veryDarkGrey:rgba(70,70,70,1);

// Transitions
$veryFastTransitionSpeed:.2s;
$fastTransitionSpeed:.4s;
$slowTransitionSpeed:1s;
$verySlowTransitionSpeed:2s;

// Global

html, body {
	overflow:auto;
	-webkit-font-smoothing:antialiased;
	font-family:$default;
	font-size:16px;
	line-height:24px;
	background:$black;
	overscroll-behavior-x:none;
	overscroll-behavior-y:none;
}

body {
	position:fixed;
	width:100%;
	height:100%;
}

.clearfix {
	clear:both;
}

.relativeContainer {
	width:100%;
	height:100%;
	position:relative;
}

a {
	color:inherit;
	text-decoration:none;
}

// Pill

.pill {
	height:62px;
	box-sizing:border-box;
	border-radius:2px;
	padding-left:18px;
	padding-right:10px;
	padding-bottom:10px;
	padding-top:10px;
}

.pillContainer {

}

// homepage

#loadingMessage {
	position:fixed;
	top:50%;
	left:50%;
	text-align:center;
	transform:translateX(-50%) translateY(-50%);
	z-index:20;
	color:$white;
	transition:opacity $fastTransitionSpeed;
}

#welcomeNotice {
	display:inline-block;
	position:fixed;
	top:15px;
	left:15px;
	background:$yellow;
	transition:opacity $veryFastTransitionSpeed;
	z-index:10;
}

#welcomeNotice.closed {
	opacity:0;
	pointer-events:none;
}

#welcomeNoticeText {
	display:inline-block;
	vertical-align:top;
	margin-top:8px;
}

.inlineLink {
	padding-bottom:1px;
	border-bottom:1px solid;
	cursor:pointer;
}

span.iconButton {
	height:42px;
	width:42px;
	margin-left:10px;
	padding:10px;
	border-radius:21px;
	background:rgba(255,255,255,0);
	transition:background $veryFastTransitionSpeed;
	cursor:pointer;
	box-sizing:border-box;
	display:inline-block;
}

span.iconButton:hover {
	background:rgba(0,0,0,.1);
}

span.iconButton img {
	width:100%;
	height:100%;
}

// Control panel

#controlPanel {
	position:fixed;
	bottom:15px;
	left:15px;
	background:$lightBlack;
	color:$white;
	width:400px;
	z-index:30;
	transition:bottom $veryFastTransitionSpeed;
}

#controlPanelInfoButton {
	margin-left:10px;
}

.floatRight {
	float:right;
}

.iconAndLabelButton {
	display:inline-block;
	cursor:pointer;
	height:42px;
	box-sizing:border-box;
	padding-top:8px;
	padding-bottom:10px;
	padding-left:10px;
	padding-right:10px;
	border-radius:1px;
	transition:background $veryFastTransitionSpeed;
}

.iconAndLabelButton:hover {
	background:rgba(255,255,255,.1);
}

.iconAndLabelButton img {
	vertical-align:middle;
	width:20px;
	height:20px;
}

#siteTitle {
	display:inline-block;
}

#microphoneCircle {
	content:'';
	height:10px;
	width:10px;
	background:$darkGrey;
	border-radius:5px;
	display:inline-block;
	vertical-align:middle;
	margin-right:2px;
	margin-top:-3px;
}

.iconAndLabelButton.microphoneOn #microphoneCircle {
	background:$green;
}

// Canvas

#canvas {
	position:fixed;
	top:0;
	left:0;
	right:0;
	bottom:0;
	background:$black;
	overflow-x:hidden;
	overflow-y:hidden;
	transition:transform $fastTransitionSpeed, opacity $fastTransitionSpeed;
}

#canvas.cannotMoveUp {
	animation:cannotMoveUp $fastTransitionSpeed;
}

#canvas.cannotMoveDown {
	animation:cannotMoveDown $fastTransitionSpeed;
}

#canvas.cannotMoveLeft {
	animation:cannotMoveLeft $fastTransitionSpeed;
}

#canvas.cannotMoveRight {
	animation:cannotMoveRight $fastTransitionSpeed;
}

@keyframes cannotMoveUp {
	0%		{ transform:translateY(0);		}
	50%		{ transform:translateY(20px);	}
	100%	{ transform:translateY(0);		}
}

@keyframes cannotMoveDown {
	0%		{ transform:translateY(0);		}
	50%		{ transform:translateY(-20px);	}
	100%	{ transform:translateY(0);		}
}

@keyframes cannotMoveLeft {
	0%		{ transform:translateX(0);		}
	50%		{ transform:translateX(20px);	}
	100%	{ transform:translateX(0);		}
}

@keyframes cannotMoveRight {
	0%		{ transform:translateX(0);		}
	50%		{ transform:translateX(-20px);	}
	100%	{ transform:translateX(0);		}
}

#projectContainer {
	width:2250px;
	border-left:1px solid $veryDarkGrey;
	border-top:1px solid $veryDarkGrey;
}

#projectContainer.loaded {
	transition:transform $fastTransitionSpeed, opacity $fastTransitionSpeed;
}

// Projects

.project {
	width:450px;
	height:450px;
	float:left;
	border-right:1px solid $veryDarkGrey;
	border-bottom:1px solid $veryDarkGrey;
	box-sizing:border-box;
	position:relative;
	text-align:center;
	display:flex;
	align-items:center;
	justify-content:center;
}

.projectThumbnailLink {
	width:calc(100% - 80px);
	height:calc(100% - 110px);
	opacity:0;
	transition:opacity $fastTransitionSpeed;
	display:flex;
	align-items:center;
	justify-content:center;
}

.projectThumbnailLink:hover {
	cursor:pointer;
}

.projectThumbnail {
	height:auto;
	width:auto;		
	max-height:100%;
	max-width:100%;	
}

.projectTitle {
	transition:opacity $fastTransitionSpeed;
	opacity:0;
	position:absolute;
	top:15px;
	text-align:center;
	color:$white;
}

.projectTitle:hover {
	padding-bottom:1px;
	cursor:pointer;
	border-bottom:1px solid;
}

// Project selector

#selector {
	position:fixed;
	height:450px;
	width:450px;
	box-sizing:border-box;
	z-index:2;
	left:50%;
	top:50%;
	transform:translateX(-50%) translateY(-50%);
	pointer-events:none;
}

.selectorElement {
	position:absolute;
	width:8px;
	height:8px;
	border-radius:4px;
	background:$white;
}

.selectorElement:nth-child(1) { top:-4px; left:-4px; }
.selectorElement:nth-child(2) { top:-4px; right:-4px; }
.selectorElement:nth-child(3) { bottom:-4px; left:-4px; }
.selectorElement:nth-child(4) { bottom:-4px; right:-4px; }

// Directional labels

.homepageDirectionalLabel {
	background:$red;
	z-index:10;
	color:white;
	position:fixed;
	padding:10px;
	padding-top:7px;
	padding-bottom:9px;
	border-radius:2px;
	width:60px;
	text-align:center;
	cursor:pointer;
	transition:opacity $fastTransitionSpeed, transform $fastTransitionSpeed;
}

.homepageDirectionalLabel img {
	filter:invert(1);
	width:18px;
	display:inline-block;
	vertical-align:middle;
	margin-top:-2px;
	margin-right:4px;
	display:none;
}

#homepageDirectionalLabelUp {
	left:50%;
	transform:translateX(-50%);
	top:15px;
}

#homepageDirectionalLabelDown {
	left:50%;
	transform:translateX(-50%);
	bottom:15px;
}

#homepageDirectionalLabelLeft {
	top:50%;
	transform:translateY(-50%);
	left:15px;
}

#homepageDirectionalLabelRight {
	top:50%;
	transform:translateY(-50%);
	right:15px;
}

// Project view CTA

#projectViewCTA {
	position:fixed;
	width:70px;
	text-align:center;
	color:$yellow;
	padding:5px;
	cursor:pointer;
	left:50%;
	transform:translateX(-50%) translateY(calc(-50% + 228px));
	top:calc(50% - 32px);
	opacity:0;
	transition:opacity $fastTransitionSpeed;
	transition-delay:$slowTransitionSpeed;
}

// Loaded body

body.loaded {

	#projectViewCTA {
		opacity:1;
	}

	.projectTitle {
		opacity:1;
	}

	.projectThumbnailLink {
		opacity:1;
	}

	#loadingMessage {
		opacity:0;
		pointer-events:none;
	}

}

// Showing projects

body.showingProject {

	.homepageDirectionalLabel {
	}

	#canvas {
		opacity:0;
		transform:scale(1.25);
	}

	#homepageDirectionalLabelUp		{	transform:translateX(-50%) translateY(-60px);	}
	#homepageDirectionalLabelDown	{	transform:translateX(-50%) translateY(60px);	}
	#homepageDirectionalLabelLeft	{	transform:translateX(-100px) translateY(-50%);	}
	#homepageDirectionalLabelRight	{	transform:translateX(100px) translateY(-50%);	}

}

// Information panel

#information {
	position:fixed;
	left:15px;
	bottom:-65px;
	background:$blue;
	transition:bottom $veryFastTransitionSpeed;
	z-index:10;
}

#informationText {
	display:inline;
}

#closeInformation {
	margin-left:20px;
}

body.showingInfo {

	#controlPanel {
		bottom:94px;
	}

	#information {
		bottom:15px;
	}

}

@import 'mobile';